<ion-header>
  <ion-navbar>
    <ion-title>
      Name of app
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <div *ngIf='alertValue == true' class="home-container-active">
    <div class="status">
        <p>ALERT</p>
        <p>someone inside your car</p>
    </div>

    <button ion-button block (click)="alertAuthorities()" class="alertBtn">Alert Authorities</button>
    <button ion-button block (click)='reportSafe()' class="safeBtn">Report Safe</button>
    <button ion-button block (click)="goToMap()" class="locationBtn">Check car location</button>
    <button ion-button block (click)="disableSensor()" class="disableBtn">Disable sensor</button>
  </div>

  <div *ngIf='alertValue == false && sensorDisabled == false' class="home-container-inactive">
    <div class="status">
        <p>Car is safe.</p>
    </div>

    <button ion-button (click)="disableSensor()" block class="disableBtn">Disable sensor</button>
  </div>

  <div *ngIf='alertValue == false && sensorDisabled == true' class="home-container-inactive">
    <div class="status">
      <p>Sensor is disabled.</p>
    </div>

    <button ion-button (click)="enableSensor()" block class="disableBtn">Enable sensor</button>
  </div>

</ion-content>